<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MapSpot</title>

    <!-- mapbox imports -->
    <script src="https://bit.ly/2VMHqPZ"></script>
    <link href="https://bit.ly/2Yi14oE" rel="stylesheet"/>

    <!-- favicon & styling -->
    <link href="/images/favicon.png" rel="icon" />
    <link href="/styles/index.css" rel="stylesheet" />
  </head>

  <body>
    <!-- map display -->
    <div id="map"></div>

    <!-- controller script -->
    <script type="module" src="/scripts/main.js"></script>
  </body>
</html>