<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MapSpot</title>

    <!-- mapbox imports -->
    <script src="https://bit.ly/2VMHqPZ"></script>
    <link href="https://bit.ly/2Yi14oE" rel="stylesheet"/>

    <!-- favicon & styling -->
    <link href="/images/favicon.png" rel="icon" />
    <link href="/styles/index.css" rel="stylesheet" />
  </head>

  <body>
    <!-- map display -->
    <div id="map"></div>

    <!-- navigation buttons -->
    <button class="button" id="up" onclick="handleMovement(0, -5)">&uarr;</button>
    <button class="button" id="down" onclick="handleMovement(0, 5)">&darr;</button>
    <button class="button" id="left" onclick="handleMovement(-5, 0)">&larr;</button>
    <button class="button" id="right" onclick="handleMovement(5, 0)">&rarr;</button>

    <!-- city dropdown selection -->
    <div class="dropdown" id="city-pos">
      <select class="dropdown-select" id="cities" onchange="handleCity(event)">
        <option disabled selected>Select a City</option>
      </select>
    </div>
    
    <!-- data-layer dropdown selection -->
    <div class="dropdown" id="filter-pos">
      <select class="dropdown-select" id="filters">
        <option disabled selected>Select a Dataset</option>
      </select>
    </div>

    <!-- lock & satellite buttons -->
    <button class="button" id="lock" onclick="handleLock()">🔓 Unlocked</button>
    <button class="button" id="satellite" onclick="handleSatellite()">🚦 Map View</button>

    <!-- controller script -->
    <script type="module" src="/scripts/main.js"></script>
  </body>
</html>
