<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Map Updater</title>

    <!-- favicon & css styling -->
    <link href="/images/favicon.png" rel="icon" />
    <link href="/styles/update.css" rel="stylesheet" />
  </head>

  <body>
    <!-- data editor -->
    <table></table>

    <form>
      <!-- password input field -->
      <input type="password"
        placeholder="Password"
        onchange="handlePassword(event)"
      />

      <!-- form submission & helper text -->
      <button type="submit">Submit</button>
      <p></p>
    </form>

    <!-- table state and submission processor -->
    <script type="text/javascript" src="/scripts/update.js"></script>
  </body>
</html>