/* ======================== */
/*      CUSTOM BUTTONS      */
/* ======================== */

.button {
  transition: all 0.5s ease;
  background: #ffffff;
  color: #404040;

  position: absolute;
  padding: 0px 10px;
  min-height: 40px;
  min-width: 40px;

  font-size: 15px;
  border: none;
  border-radius: 5px;
}
.button:hover {
  filter: brightness(85%);
  cursor: pointer
}
.button:active {
  filter: brightness(70%);
}

.mapboxgl-ctrl-group {
  position: absolute;
  bottom: 65px;
  left: 20px;
}

#up    { bottom: 100px; right: 110px; }
#left  { bottom: 55px;  right: 155px; }
#down  { bottom: 55px;  right: 110px; }
#right { bottom: 55px;  right: 65px;  }

#lock      { top: 20px; left: 20px;  }
#satellite { top: 20px; right: 20px; }


/* ============================ */
/*       CUSTOM DROPDOWNS       */
/* ============================ */

div.dropdown {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 0; left: 0;
}

.dropdown {
  overflow: hidden;
  width: 200px;
}
.dropdown:before,
.dropdown:after {
  position: absolute;
  top: 9px; right: 10px;

  content: "";
  border: 4px dashed;
  border-color: #666 transparent;
}
.dropdown:after {
  border-bottom: none;
  margin-top: 7px;
}
.dropdown:before {
  border-top: none;
}

.dropdown-select {
  -webkit-appearance: none;
  transition: all 0.5s ease;
  padding: 6px 8px 6px 10px;

  color: #404040;
  font-size: 12px;
  width: 100%;
  border: 0;
}
.dropdown-select:hover {
  background: #bbbbbb;
  cursor: pointer;
}

#city-pos   { top: 20px; }
#filter-pos { top: 55px; }


/* ========================= */
/*      GENERAL STYLING      */
/* ========================= */

#map {
  position: absolute;
  top: 0; bottom: 0;
  min-width: 100%;
  z-index: -1;
}

body {
  padding: 0;
  margin: 0;
}
