/* ========================= */
/*      GENERAL STYLING      */
/* ========================= */

body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;

  background: #333333;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#container {
  box-shadow: 0px 0px 20px #00000033;
  padding: 3.25rem 4rem 2.5rem 4rem;
  border-radius: 1.25rem;
  background: #3a3a3a;
}

#submission-container {
  text-align: center;
  width: 100%;
}

h1 {
  text-transform: lowercase;
  font-variant: small-caps;

  color: #cccccc;
  margin-bottom: 30px;
  margin-top: 10px;
}

p {
  text-align: center;
  padding-top: 8px;
  font-size: 12px;
  height: 1em;
  margin: 0;
}


/* ======================= */
/*      CUSTOM BUTTON      */
/* ======================= */

button {
  transition: all 0.5s;
  text-transform: uppercase;
  border: 1px solid #2a2a2a;
  border-radius: 5px;

  color: #cccccc;
  font-size: 11px;
  font-weight: bold;
  background: #2e2e2e;
  margin-top: 15px;
  padding: 10px;
}
button:hover {
  border-color: #1a1a1a;
  background: #222222;
  cursor: pointer;
}


/* ====================== */
/*      CUSTOM INPUT      */
/* ====================== */

.form-field {
  transition: all 0.3s ease;
  border: 1px solid #2b2b2b;

  color: #bbbbbb;
  font-size: 14px;
  background: #4a4a4a;
  padding: 8px 12px;
  margin: 0;
  flex: 1;
}
.form-field:focus {
  border-color: #1b1b1b;
  outline: none;
}
::placeholder {
  color: #777777;
}

.form-group {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
}
.form-group > span {
  transition: all 0.3s ease;
  border: 1px solid #2b2b2b;
  text-align: center;
  line-height: 25px;

  color: #cccccc;
  font-size: 12px;
  background: #2e2e2e;
  padding: 8px 12px;
}
.form-group:focus-within > span {
  border-color: #1a1a1a;
  background: #222222;
}

.form-group > span:not(:first-child), .form-group .form-field:not(:first-child) { margin-left: -1px; }
.form-group > span:first-child, .form-group .form-field:first-child { border-radius: 6px 0 0 6px; }
.form-group > span:last-child, .form-group .form-field:last-child { border-radius: 0 6px 6px 0; }
